.Rproj.user
.Rhistory
.RData
.Ruserdata
.jpg
*.jpg
*.gz
*.hdf5
weights.28-3.73.hdf5
*.so
*.h
*.c
*.iso
*.dylib
*.exe
*.sav
*.dat
*.jpeg
*.bmp
*.RDS
*.DS_Store
*.h5
.DS_Store
**/._.DS_Store
*.vec
sent_embeddings.txt
data/processed/sent_embeddings.txt
*.npy